.boost-section {
  background-color: $primary-dark-violet;
  position: relative;
}

.boost-img {
  width: 100%;
}

.boost-content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  h3 {
    color: white;
    font-size: 200%;
    font-weight: $font-weight-bold;
    text-align: center;

    @include small {
      font-size: 140%;
    }
  }

  button {
    @include button-style;

    font-weight: $font-weight-bold;
    padding: 1rem 3rem;
  }
}
