.hero {
  padding-left: 15%;
  margin-top: 2rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $grayish-violet;

  @include small {
    padding: 0 10%;
    flex-direction: column-reverse;
    margin-top: 0;
    gap: 2rem;
  }
}

.hero-img {
  margin-right: -5%;

  @include small {
    width: 160%;
    margin-left: auto;
  }
}

.description {
  width: 40%;
  display: flex;
  flex-direction: column;

  p {
    line-height: 1.75;
  }

  @include small {
    width: 100%;
    align-items: center;
    gap: 1rem;

    p {
      text-align: center;
      font-size: 90%;
    }
  }
}

.title {
  color: $very-dark-violet;
  font-weight: $font-weight-bold;
  font-size: 350%;
  letter-spacing: -0.1rem;
  margin-top: -1rem;

  @include small {
    font-size: 190%;
    letter-spacing: 0;
    margin-top: 1rem;
    text-align: center;
  }
}

.get-started-button {
  @include button-style;

  font-weight: $font-weight-bold;
  padding: 1rem 3rem;
  margin-top: 2.5rem;

  @include small {
    margin-top: 1rem;
  }
}
