@mixin button-style {
  background-color: $primary-cyan;
  border: none;
  color: white;
  padding: 0.7rem 1.5rem;
  border-radius: 500rem;
  width: fit-content;

  &:hover {
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      $primary-cyan;
    cursor: pointer;
  }
}

@mixin small {
  @media only screen and (max-width: $sm) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}
